body {
  background: #eee;
  margin: 0;
}

#text-container span {
  background: #ccc;
  padding: 4px;
  margin: 0px 5px;
  border-radius: 5px;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
